@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background: #e0e0e0;
  height: 100vh;
  max-height: 100vh;
}

body app-root {
  display: flex;
  height: 100vh;
  background: #ffffff;
}

body app-root app-home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
}

body app-root app-contact {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
}

body app-root app-about-us {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
}

body app-root app-apod {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
}

body app-root app-neows {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #5a5a5a;
  transition: 0.5s;
}
